<h1>Catalog of Products</h1>


<div class="container bg-light rounded">
    <div class="h4 font-weight-bold text-center py-3">Explore more</div>
    <div class="row">
        <div *ngFor="let card of cards" class="col-lg-4 col-md-6 my-lg-0 my-3">
            <a [routerLink]="['/catalog/'+card.id]">
                <div class="box bg-white">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle mx-3 text-center d-flex align-items-center justify-content-center blue"> <img [src]="card.image" alt=""> </div>
                        <div class="d-flex flex-column"> <b>{{card.title}}</b> <a href="#">
                                <p class="text-muted">{{card.number_of_variations}} variations</p>
                            </a> </div>
                    </div>
                </div>
            </a>
        </div>  
    </div>
</div>