<h1>Home Page</h1>

<p *ngIf="service.isLoggedIn()">Welcome, {{service.getCurrentUser.name}}!</p>

<ul>
    <!-- <li><a routerLinkActive="active" routerLink="/catalog">Catalog</a></li> -->
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home_3</a></li>
    <li *ngIf="service.isLoggedIn() && service.getCurrentUser.roles.includes('admin')"><a routerLinkActive="active" routerLink="/admin">Admin123</a></li>
    <li *ngIf="!service.isLoggedIn() && router.url!=='/login'"><a routerLink="/login">Login</a></li>
    <li *ngIf="service.isLoggedIn()"><a routerLinkActive="active" (click)="logout()">Logout</a></li>
</ul>
<button (click)=service.testRequest()>testRequest</button>
